# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [3]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description
0,0,Ushibuka,32.1906,130.0228,71.04,65,98,6.73,JP,moderate rain
1,1,Buckeye,33.3703,-112.5838,96.46,24,0,5.75,US,clear sky
2,2,Safford,32.8340,-109.7076,76.12,43,75,26.46,US,broken clouds
3,3,Talaja,21.3500,72.0500,81.45,62,48,10.65,IN,scattered clouds
4,4,Slave Lake,55.2834,-114.7690,48.18,71,40,11.50,CA,scattered clouds
5,5,Magole,-6.3667,37.3667,68.02,87,50,4.16,TZ,scattered clouds
6,6,Botshabelo,-29.2702,26.7052,58.37,19,44,3.87,ZA,scattered clouds
7,7,Nisia Floresta,-6.0911,-35.2086,80.98,90,1,6.87,BR,clear sky
8,8,Gurupi,-11.7292,-49.0686,88.77,23,7,3.02,BR,clear sky
9,9,Tateyama,34.9833,139.8667,59.09,94,75,13.80,JP,shower rain

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [4]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [5]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp)&\
                                      (city_data_df["Max Temp"] >= min_temp)]
                                    
# Display sample data
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description
0,0,Ushibuka,32.1906,130.0228,71.04,65,98,6.73,JP,moderate rain
2,2,Safford,32.8340,-109.7076,76.12,43,75,26.46,US,broken clouds
3,3,Talaja,21.3500,72.0500,81.45,62,48,10.65,IN,scattered clouds
5,5,Magole,-6.3667,37.3667,68.02,87,50,4.16,TZ,scattered clouds
7,7,Nisia Floresta,-6.0911,-35.2086,80.98,90,1,6.87,BR,clear sky
8,8,Gurupi,-11.7292,-49.0686,88.77,23,7,3.02,BR,clear sky
10,10,Ingham,42.6000,-84.3833,66.15,58,0,0.00,US,clear sky
13,13,Lorengau,-2.0226,147.2712,85.71,68,71,12.97,PG,broken clouds
14,14,Kokstad,-30.5472,29.4241,61.63,57,69,5.19,ZA,broken clouds
15,15,Flinders,-34.5833,150.8552,60.39,93,100,5.99,AU,light rain

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [6]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description
0,0,Ushibuka,32.1906,130.0228,71.04,65,98,6.73,JP,moderate rain
2,2,Safford,32.8340,-109.7076,76.12,43,75,26.46,US,broken clouds
3,3,Talaja,21.3500,72.0500,81.45,62,48,10.65,IN,scattered clouds
5,5,Magole,-6.3667,37.3667,68.02,87,50,4.16,TZ,scattered clouds
7,7,Nisia Floresta,-6.0911,-35.2086,80.98,90,1,6.87,BR,clear sky
8,8,Gurupi,-11.7292,-49.0686,88.77,23,7,3.02,BR,clear sky
10,10,Ingham,42.6000,-84.3833,66.15,58,0,0.00,US,clear sky
13,13,Lorengau,-2.0226,147.2712,85.71,68,71,12.97,PG,broken clouds
14,14,Kokstad,-30.5472,29.4241,61.63,57,69,5.19,ZA,broken clouds
15,15,Flinders,-34.5833,150.8552,60.39,93,100,5.99,AU,light rain

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [7]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City","Country", "Max Temp", "Current Description","Lat","Lng"]].copy()


# Display sample data
hotel_df.head(10)

              City Country  Max Temp Current Description      Lat       Lng
0         Ushibuka      JP     71.04       moderate rain  32.1906  130.0228
2          Safford      US     76.12       broken clouds  32.8340 -109.7076
3           Talaja      IN     81.45    scattered clouds  21.3500   72.0500
5           Magole      TZ     68.02    scattered clouds  -6.3667   37.3667
7   Nisia Floresta      BR     80.98           clear sky  -6.0911  -35.2086
8           Gurupi      BR     88.77           clear sky -11.7292  -49.0686
10          Ingham      US     66.15           clear sky  42.6000  -84.3833
13        Lorengau      PG     85.71       broken clouds  -2.0226  147.2712
14         Kokstad      ZA     61.63       broken clouds -30.5472   29.4241
15        Flinders      AU     60.39          light rain -34.5833  150.8552

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [8]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Ushibuka,JP,71.04,moderate rain,32.1906,130.0228,
2,Safford,US,76.12,broken clouds,32.8340,-109.7076,
3,Talaja,IN,81.45,scattered clouds,21.3500,72.0500,
5,Magole,TZ,68.02,scattered clouds,-6.3667,37.3667,
7,Nisia Floresta,BR,80.98,clear sky,-6.0911,-35.2086,
8,Gurupi,BR,88.77,clear sky,-11.7292,-49.0686,
10,Ingham,US,66.15,clear sky,42.6000,-84.3833,
13,Lorengau,PG,85.71,broken clouds,-2.0226,147.2712,
14,Kokstad,ZA,61.63,broken clouds,-30.5472,29.4241,
15,Flinders,AU,60.39,light rain,-34.5833,150.8552,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [9]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [10]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params = params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [12]:
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Ushibuka,JP,71.04,moderate rain,32.1906,130.0228,Hotei
2,Safford,US,76.12,broken clouds,32.8340,-109.7076,SpringHill Suites by Marriott Thatcher
3,Talaja,IN,81.45,scattered clouds,21.3500,72.0500,Tofik Memon
5,Magole,TZ,68.02,scattered clouds,-6.3667,37.3667,Juma lubelwa
7,Nisia Floresta,BR,80.98,clear sky,-6.0911,-35.2086,Rancho Crepusculo
8,Gurupi,BR,88.77,clear sky,-11.7292,-49.0686,Via Norte Hotel
10,Ingham,US,66.15,clear sky,42.6000,-84.3833,Sunset Mobile Home Park
13,Lorengau,PG,85.71,broken clouds,-2.0226,147.2712,Lorengau Harbourside Hotel
14,Kokstad,ZA,61.63,broken clouds,-30.5472,29.4241,Majestic Bed and Breakfast
15,Flinders,AU,60.39,light rain,-34.5833,150.8552,Shellharbour Resort & Conference Centre

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [14]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

# Display sample data
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Ushibuka,JP,71.04,moderate rain,32.1906,130.0228,Hotei
2,Safford,US,76.12,broken clouds,32.8340,-109.7076,SpringHill Suites by Marriott Thatcher
3,Talaja,IN,81.45,scattered clouds,21.3500,72.0500,Tofik Memon
5,Magole,TZ,68.02,scattered clouds,-6.3667,37.3667,Juma lubelwa
7,Nisia Floresta,BR,80.98,clear sky,-6.0911,-35.2086,Rancho Crepusculo
8,Gurupi,BR,88.77,clear sky,-11.7292,-49.0686,Via Norte Hotel
10,Ingham,US,66.15,clear sky,42.6000,-84.3833,Sunset Mobile Home Park
13,Lorengau,PG,85.71,broken clouds,-2.0226,147.2712,Lorengau Harbourside Hotel
14,Kokstad,ZA,61.63,broken clouds,-30.5472,29.4241,Majestic Bed and Breakfast
15,Flinders,AU,60.39,light rain,-34.5833,150.8552,Shellharbour Resort & Conference Centre

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [16]:
# In case of an empty DataFrame, load the sample data provided
#clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
#clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [17]:

# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [18]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [19]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Pudong Holiday Hotel</dd>\n<dt>City</dt><dd>Aksu</dd>\n<dt>Country</dt><dd>CN</dd>\n<dt>Current Weather</dt><dd>clear sky and 82.42 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>INN NEW HORIZON</dd>\n<dt>City</dt><dd>Touros</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>broken clouds and 80.6 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>CCI Express Inn</dd>\n<dt>City</dt><dd>Morehead</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>clear sky and 75.2 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>39 On Nile Guest House</dd>\n<dt>City</dt><dd>Port Elizabeth</dd>\n<dt>Country</dt><dd>ZA</dd>\n<dt>Current Weather</dt><dd>clear sky and 84.2 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Durrant House Hotel</dd>\n<dt>City</dt><dd>Northam</dd>\n<dt>Country</dt><dd>GB</dd>\n<dt>Current Weather</dt><dd>few clouds and 82.4 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Taj Krishna, Hyderabad</dd>\n<dt>City</dt><dd>Hyderabad</dd>\n<dt>Country</dt><dd>IN</dd>\n<dt>Current Weather</dt><dd>haze and 87.01 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>The Halyards Hotel</dd>\n<dt>City</dt><dd>Port Alfred</dd>\n<dt>Country</dt><dd>ZA</dd>\n<dt>Current Weather</dt><dd>clear sky and 82.0 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Villa Enata</dd>\n<dt>City</dt><dd>Atuona</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>clear sky and 79.72 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Sheraton Kauai Resort at Coconut Beach</dd>\n<dt>City</dt><dd>Kapaa</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>heavy intensity rain and 73.4 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Tourist House - Sablino</dd>\n<dt>City</dt><dd>Nikolskoye</dd>\n<dt>Country</dt><dd>RU</dd>\n<dt>Current Weather</dt><dd>clear sky and 88.0 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [20]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

     Lat     Lng
0  41.12   80.26
1  -5.20  -35.46
2  37.27  -87.18
3 -33.92   25.57
4  51.03   -4.22
5  17.38   78.47
6 -33.59   26.89
7  -9.80 -139.03
8  22.08 -159.32
9  59.70   30.79

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [32]:
# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

fig.add_layer(marker_layer)

display(fig)

Figure(layout=FigureLayout(height='420px'))